input {
    outline: none;
    border: 0;
}

/******nav*****/

#search-area {
    margin-left: 90px;
}

.search-text {
    margin-right: 5px
}

.search-form {
    margin-top: 20px;
    line-height: 40px;
    height: 40px;
}

#visitor_nav {
    margin-top: 25px
}

#visitor_nav .user-menu span {
    outline: none; cursor: pointer
}

.navbar-site {
    float: left;
    position: relative;
    margin-left: 20px;
    padding: 0;
    display: block;
    height: 75px;
}

.city-chooser {
    font-size: 14px;
    font-weight: 500;
    padding: 0 6px;
    color: #444;
    cursor: pointer
}

.user-menu-text {
    position:relative;bottom: 5px
}

.user-menu {
    margin-left: 20px;
    color: #888888;
}

.user-menu:hover {
    color: #ea8c30;
}

/******nav*****/

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100px;
    background: #FFFFFF;
    font-weight: 400;
}

.pure-menu-heading {
    font-weight: 900;
    color: #ea8c30;
}

.search-input {
    background: #f2f2f2;
    padding-left: 30px;
    border: 0;
    border-radius: 20px;
    height: 40px;
    width: 175%;
    outline: none;
}

.join-button {
    position: relative;
    right: -378px;
    top: -35px;
    color: white;
    border-radius: 18px;
    background: #ea8c30;
    height: 30px;
    width: 90px;
    border-width: 0;
    cursor: pointer;
    padding-bottom: 8px
}

.login-menu-item {
    border-left: 1.5px solid #F5F5F5;
}

.genres {
    background: white;
    color: black;
    border-width: 0;
    padding-left: 0;
    padding-right: 0
}

.genre {
    margin: 20px 25px;
    font-size: 19px;
    color: #331612;
}

.price {
    color: #5987c9;
    font-size: large;
}

.splitor {
    border-left: solid 2px #ddd;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    margin-left: 10px;
    margin-top: 30px;
}

.section-header {
    display: block;
    height: 40px;
    text-align: justify;
}

.section-title {
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    margin-left: 25px;
    display: inline-block;
    vertical-align: middle;
}

.section-operation {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.no-default-a {
    text-decoration: none;
    color: #111
}

.hover-a:hover {
    text-decoration: none;
    color: #ea8c30;
}


.no-gap {
    padding: 0px;
    margin: 0px;
}

#hot-section {
    float: left;
    width: 66%;
}

#top-section {
    float: left;
    width: 34%;
}

#nav-channel a {
    text-decoration: none;
    color: #222
}

#nav-channel a:hover {
    text-decoration: none;
    color: #ea8c30;
}

.border-bottom {
    display: block;
    position: relative;
    height: 4px;
    width: 100%;
    background-color: #ea8c30;
    border-radius: 2px;
}

.show-index {
    margin-right: 20px;
    min-width: 24px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(#ea8c30, #EA711E);
    display: inline-block;
    vertical-align: top;
}

.image-holder {
    display: inline-block;
}

.show-detail {
    display: inline-block;
    margin-left: 15px;
    width: 230px;
    vertical-align: top;
}

.top-item {
    display: block;
    margin-top: 20px;
    color: #444;
}
.top-item:hover,
.top-item:focus {
    color: #ea8c30;
    text-decoration: none;
}

.modal-mid-size {
    width: 380px;
}

.center-modal {
    border-radius: 50px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%) translateY(-33%);
}

.login-button {
    background: #ea8c30;
    color: white;
    border-radius: 16px;
}

.modal-body .form-group {
    margin-top: 20px;
}

.no-border {
    outline: none;
    border: 0;
}

.modal-top {
    margin-top: -18px
}


/*******footer**********/

.footer-border {
    margin-top: 15px;
    margin-bottom: 40px
}

.footer-bottom {
    margin-bottom: 60px;
}

/*******footer**********/